extends ./layouts/main.pug

block content

  .container
    .wrapper
      form.form-login(action='/resetpassword' method='POST')
        h2.indigo-text.text-darken-2 Please Enter Details...
        br
        br
        input.form-control(type='text', name='emailid', placeholder='Email Address', required='', autofocus='',id = "emailid", autocomplete='off')
        label Select Your Question :
        br
        select.dropdown-button.btn.indigo(name='question')
          option(value='bof') Birthplace of your father
          option(value='bom') Birthplace of your Mother
          option(value='fcc') Your Favourite Cartoon Character
          option(value='fmn') Your First Mobile-Number
          option(value='bf') Your Best Friend
        br
        br
        input.form-control(type='text', name='answer', placeholder='Your Answer', required='', autofocus='',id = "answer", autocomplete='off')
        br
        button.btn.btn-lg.btn-info.btn-block.indigo(type='submit', name='submit') Submit
        br
        br
        label Don't Have an Account?
        a(href='register', style = "margin : 5px;") Create Account
        br

        script.
          var question = document.getElementById("question");
          var returnvalue = question.options[question.selectedIndex].value;
